* {
  text-decoration: none;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  background-image: url(space.jpg);
  margin-top: 12px;
  background-size: cover;
  background-position: center;
  margin-bottom: auto;
  margin-right: auto;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#datt {
  color: rgb(47, 218, 218);
  text-shadow: white;
  background: solid;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}
#one {
  text-align: center;
  color: orange;
  background: transparent;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 35px;
}
.navbar {
  background-color: transparent;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  align-items: center;
  width: 100%;
  margin-top: -5px;
  backdrop-filter: blur(1px);
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
li {
  list-style: none;
  display: inline-block;
  position: relative;
}
li a {
  color: rgb(249, 247, 247);
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 100px;
}
li a::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
li a:hover::after {
  width: 50%;
}
#four {
  text-align: center;
  font-size: 30px;
  color: goldenrod;
  margin-top: -20px;
}
#five {
  font-size: 15px;
  text-align: auto;
  color: rgb(241, 237, 237);
  font-weight: 550;
  margin-left: 55%;
  text-align: left;
  margin-right: 20px;
  word-spacing: 5px;
}
#six {
  margin-top: 2%;
  position: fixed;
}
hr {
  width: 850px;
}
h1 {
  color: skyblue;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 35px;
  color: skyblue;
}
#seven {
  margin-left: 200px;

}
#eight {
  margin-left: 150px;
}
#nine {
  margin-left: 150px;
}
#ten {
  margin-left: 5%;
  text-align: left;
  margin-top: 3%;
  font-weight: 550;
  word-spacing: 5px;
}
mark {
  background-color: rgb(13, 7, 7);
  color: orange;
}
#twelve {
  text-align: left;
}
#thirteen {
  font-weight: 550;
  margin-left: 5%;
  text-align: left;
  word-spacing: 5px;
}
#fourteen {
  font-weight: 550;
  margin-left: 5%;
  text-align: left;
  word-spacing: 5px;
}
#fifteen{
  font-weight: 550;
  margin-left: 5%;
  word-spacing: 5px;
}
#sixteen{
  margin-left: 25%;
}