*body {
  margin: 0;
  padding: 0;

  width: 360px;
  font-family: "poppins", system-ui "Segoe UI" "Open Sans",
    "Helvetica Neue" sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-image: url(Cover.jpg);
  background-size: cover;
}
h4 {
  text-align: right;
  margin-right: 30px;
  font-size: 20px;
  color: white;
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#left {
  font-size: 50px;
  background-image: url(Hero.png);
  background-size: contain;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  box-shadow: #ff004f;
  font-weight: bolder;
  text-align: center;
  font-family: system-ui, "Segoe UI" ,"Open Sans", "Helvetica Neue", sans-serif;
  border: 5px;
}
#left:hover::first-letter {
  transition: 0.5s;
}
hr {
  width: 990px;
}
.right {
  padding: 10px 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: transparent;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: rgb(221, 255, 0);
  font-weight: 200;
  font-size: 24px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}
/*.mid {
background-image: url(sadguru.jpg);
background-size: cover;
height: 700px;
border-radius: 20px;
}*/
.two {
  background-image: url();
  background-size: contain;
  height: 600px;
}
/*-----about-----*/
#about {
  margin-top: -10px;
  color: rgb(252, 249, 249);
  align-content: center;
  margin-left: 30px;
}
.about-col-1 {
  margin-top: 20px;
  flex-basis: 35%;
}
.about-col-1 img {
  border-radius: 15px;
  margin-top: 0px;
  margin-right: -300px;
}
.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 img {
  border-radius: 15px;
  margin-right: -300px;
}
h3 {
  color: burlywood;
  text-align: center;
  font-size: 55px;
  margin-top: -20px;
}
#his {
  text-align: center;
  padding-left: 350px;
  padding-right: 150px;
  margin-top: -400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}
#her {
  text-align: center;
  padding-left: 350px;
  padding-right: 150px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}
.work {
  text-align: center;
  font-size: 70px;
  color: burlywood;
}
.phone {
  font-size: 23px;
  text-align: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 40px;
}
#five {
  margin-right: 100px;
  margin-left: 100px;
}
#six {
  text-align: center;
  margin-top: -40px;
  margin-bottom: -40px;
}
#seven {
  margin-left: 100px;
  margin-right: 100px;
}
#eight {
  margin-right: 100px;
  margin-left: 100px;
}
#eleven {
  margin-right: 100px;
  margin-left: 100px;
}
#ten {
  font-size: 23px;
  text-align: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 40px;
}

.container {
  background-color: transparent;
  justify-content: space-around;
  margin-top: -70px;
  display: flex;
  background: transparent;
}
.container form {
  width: 100%;
  text-align: center;
  padding: 25px 20px;
}

form.id {
  position: relative;
}
form input {
    margin-top: -30px;
  width: 14%;
  height: 30px;
  margin: 4px 0;
margin-top: 20px;
  border: 2px solid;
  border: 3px solid rgb(212, 248, 9);
  border-radius: 3px;
}
form textarea {
  padding: 5px 15px;
  border: 1px solid red;
  border-radius: 3px;
  background: white;
  font-size: 20px;
  width: 10%;
}
button {
  height: 35px;
  width: 100px;
  background-color: rgb(232, 95, 207);
  margin-top: 15px;
  font-size: large;
  border-radius: 5%;
  font-weight: 700;
  border-style: hidden;
}
button:hover {
  background-color: rgb(22, 220, 251);
  color: black;
}
/*Footer*/
.footer {
    color: #111;
  }
  .footerbottom {
    background-color: transparent;
    padding-bottom: 20px;
    margin-bottom: -100px;
    text-align: center;
  }
  .footerbottom p {
    color: white;
    font-size: 20px;
  }
  .designer {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    color: aqua;
    font-size: 22px;
    text-decoration-style: dotted;
  }